body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #660987;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
}

.display {
    background-color: #222;
    color: #176183;
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: right;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #f1f1f4;
    border: none;
    padding: 20px;

    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #e2e4e6;
}

button.equals {
    background-color: #4caf50;
    color: white;
}

button.equals:hover {
    background-color: #45a049;
}
